{% extends "texts/base.html" %}

{%load static %}
{%block head %}
	<link rel="stylesheet" href="{% static 'texts/annotate.css' %}" />
{% endblock %}


{% block content %}
{{ocrline.start_time|json_script:'start-time'}}
{{ocrline.end_time|json_script:'end-time'}}
{{ocrline.align.recording.web_wav|json_script:'web-wav'}}
{{alignment|json_script:'alignment'}}
{{already_annotated|json_script:'already-annotated'}}
{{nocrlines|json_script:'nocrlines'}}

<div class="title-parent">
    <div class="title-child">
        <h4>
            {{ocrline.align.recording.name}}
            <small class="lightgrey">
                ({{ocrline.align.recording.province.name}} | 
                {{ocrline.align.recording.area}} |
                {{ocrline.align.recording.duration_str}} |
                {{ocrline.align.recording.pk}})
            </small>
        </h4>
    </div>
    <div class="title-child right">
        <p>
            <a class="btn btn-link" onclick="previous()">
                <i id = 'previous' class="fa fa-angle-left"></i>
            </a>
            {{line_index}} / {{nocrlines}}
            <a class="btn btn-link" onclick="next()">
                <i id = 'next' class="fa fa-angle-right"></i>
            </a>
        </p>
    </div>
</div>
<hr>

<a class="btn btn-link" onclick="play()">
    <i class="fas fa-play"></i>
</a>

<div class="clamp-styling">
    <p class="ocr-text">
    {{ocrline.transcription.text_clean}}
    </p>
</div>
<br>

<audio 
    id = "audio"
	src="/{{ocrline.align.recording.web_wav}}#t={{ocrline.start_time}},{{ocrline.end_time}}"
	type="audio/x-wav"
    >
	your browser does not support the audio element
</audio>

<form id="form" method='post'>
	{% csrf_token %}
    <p>
        <label class="grey" for="corrected_transcription">
            Corrected transcription: 
        </label>
    </p> 
    <input 
        type="text" 
        id="corrected_transcription" 
        name="corrected_transcription"
        value="{{corrected_transcription}}"
    >
    <p class="lightgrey"><small>
    Do not alter spelling of transcribed words, 
    use copy / paste and remove words not present in the audio recording.
    </small>
    </p>
    <br><br>

	<table class="table table-borderless table-sm">
		<tr class="d-flex">
			<td class="col-2">
				<button 
                    id="bad"
					class="btn"
					type='submit' onclick="set_quality('bad')" 
					value="bad"><b>b</b>ad
				</button>
			</td>
			<td class="col-2">
				<button 
                    id="start_match"
					class="btn"
					type='submit' onclick="set_quality('start_match')" 
					value="start"><b>s</b>tart match
				</button>
			</td>
			<td class="col-2">
				<button 
                    id="middle_match"
					class="btn"
					type='submit' onclick="set_quality('middle_match')" 
					value="middle"><b>m</b>iddle match
				</button>
			</td>
			<td class="col-2">
				<button 
                    id="middle_mismatch"
					class="btn"
					type='submit' onclick="set_quality('middle_mismatch')" 
					value="middle">m<b>i</b>ddle mismatch
				</button>
			</td>
			<td class="col-2">
				<button 
                    id="end_match"
					class="btn"
					type='submit' onclick="set_quality('end_match')" 
					value="end"><b>e</b>nd match
				</button>
			</td>
			<td class="col-2">
				<button 
                    id="good"
					class="btn"
					type='submit' onclick="set_quality('good')" 
					value="good"><b>g</b>ood
				</button>
			</td>
		</tr>
	</table>
	<input 
        type="hidden" 
        name="quality" 
        id="quality" 
        value = "{{alignment}}">
    <input 
        type="hidden" 
        name="line_index" 
        id="line_index" 
        value = "{{line_index}}">
    <input 
        type="hidden" 
        name="record_index" 
        id="record_index" 
        value = "{{record_index}}">
    <input 
        type="hidden" 
        name="asr_pk" 
        id="asr_pk" 
        value = "{{ocrline.align.asr.pk}}">
    <input 
        type="hidden" 
        name="recording_pk" 
        id="recording_pk" 
        value = "{{ocrline.recording.pk}}">
    <input 
        type="hidden" 
        name="ocrline_index" 
        id="ocrline_index" 
        value = "{{ocrline.ocrline_index}}">
    <input 
        type="hidden" 
        name="resume" 
        id="resume" 
        value = "{{resume}}">
    <input 
        type="hidden" 
        name="location" 
        id="location" 
        value = "{{location}}">
    <input 
        type="hidden" 
        name="location_type" 
        id="location_type" 
        value = "{{location_type}}">
    <input 
        type="hidden" 
        name="exclude_recordings" 
        id="exclude_recordings" 
        value = "{{exclude_recordings}}">
    <input 
        type="hidden" 
        name="exclude_transcriptions" 
        id="exclude_transcriptions" 
        value = "{{exclude_transcriptions}}">
    <input 
        type="hidden" 
        name="perc_lines" 
        id="perc_lines" 
        value = "{{perc_lines}}">
    <input 
        type="hidden" 
        name="session_key" 
        id="session_key" 
        value = "{{session_key}}">
    <input
        type="hidden"
        name="prev_next"
        id="prev_next"
        value="none">
</form>

<br>
<hr>
<br><br>

<p class='align'>
OCR: {{ocrline.ocr_align_text}}
</p>
<p class='align'>
ASR: {{ocrline.asr_align_text}}
</p>
<p class='right grey'>
<small class="lightgrey">Align match: </small>{{ocrline.align_match}}
</p>

<br><br>
{{ocrline.ocrline_index}}
<br><br>
<p class="lightgrey small">
start
{{location}}
{{location_type}}
{{exclude}}
{{minimum_match}}
{{perc_lines}}
{{record_index}}
{{line_index}}
{{ocrline.align.recording.web_wav}}
{{ocrline.start_time}}
{{ocrline.end_time}}
end
</p>

<input 
    type="hidden" name="line_index" 
    id="line_index" value = "{{line_index}}">
<input 
    type="hidden" name="record_index" 
    id="record_index" value = "{{record_index}}">

<script>
</script>
<script src="{% static 'texts/annotate.js' %}"></script>
{% endblock %}
