{% extends "texts/base.html" %}

{% block content %}

<a
    id="help"
    href="{% url 'texts:help'%}"
    class="btn btn-outline-primary">
        help
</a>
<a
    id="annotate_by_province"
    href="{% url 'texts:select_province'%}"
    class="btn btn-outline-secondary">
        annotate by province
</a>
<a
    id="annotate_by_area"
    href="{% url 'texts:select_area'%}"
    class="btn btn-outline-secondary">
        annotate by area
</a>

{% if annotation_user_info.can_continue %}
    <a
        id="resume"
        href="{% url 'texts:resume'%}"
        class="btn btn-outline-success">
            resume
    </a>
{% endif %}
<br>
<hr>
<br>
    
<table class="table table-borderless table-sm">
    <tr class="d-flex">
        <td class="col-3"></td>
        <td class="col-2">Annotated</td>
    </tr>
    <tr class="d-flex">
        <td class="col-3">recordings </td>
        <td class="col-2">{{annotation_user_info.n_recordings_annotated}}</td>
    </tr>
    <tr class="d-flex">
        <td class="col-3">transcriptions</td>
        <td class="col-2">{{annotation_user_info.n_transcriptions_annotated}}</td>
    </tr>
</table>

<br>
<hr>
<br>



{% endblock %}
