<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href={% url 'texts:play' %}>
	Asta
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
	data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
	aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
			role="button" data-toggle="dropdown" aria-haspopup="true" 
			aria-expanded="false">
          View
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href=
			"{% url 'texts:play'%}">
			play</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
			role="button" data-toggle="dropdown" aria-haspopup="true" 
			aria-expanded="false">
          Add
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href=
			"{% url 'texts:play' %}">play</a>
        </div>
      </li>

    </ul>

	<ul class = "navbar-nav navbar-right">
		<li class ="nav-item">
		  {% if user.username == '' %}
            <a class="nav-link" href="{% url 'login' %}">
                login<span class="sr-only">(current)</span>
            </a>
		  {% else %}
			<a class="nav-link" href="{% url 'logout' %}">
				<i class="fas fa-sign-out-alt"></i>
				<span class="sr-only">(current)</span>
			</a>
		  {% endif %}
		</li>
	</ul>


  </div>
</nav>

