{% extends "texts/base.html" %}

{%load static %}
{%block head %}
	<link rel="stylesheet" href="{% static 'texts/play.css' %}" />
{% endblock %}

{% block content %}

{{o.start_time|json_script:'start-time'}}
{{o.end_time|json_script:'end-time'}}
{{a.recording.web_wav|json_script:'web-wav'}}

<h1>{{a.recording.name}} a.recording.pk</h1>
<hr>

<p>request type: {{post}}</p>
<button onclick="play()">play</button>
<br>
<br>
<form method='post'>
{% csrf_token %}
<button 
	class="btn btn-danger"
	type='submit' onclick="set_quality('bad')" 
	value="bad">bad
</button>
<button 
	class="btn btn-warning"
	type='submit' onclick="set_quality('partial')" 
	value="bad">partial
</button>
<button 
	class="btn btn-success"
	type='submit' onclick="set_quality('good')" 
	value="bad">good
</button>
<input type="hidden" name="quality" id="quality" value = "">
</form>

<p>{{a.recording.web_wav}}</p>
<p>{{ocr.web_image_filename}}</p>
<audio 
    id = "audio"
	src="/{{a.recording.web_wav}}#t={{o.start_time}},{{o.end_time}}"
	type="audio/x-wav"
    >
	your browser does not support the audio element
</audio>
	
<h2>
{{o.transcription.text_clean}}
</h2>

<p>{{o.start_time}}</p>
<p>
{{o.end_time}}
</p>
<p>
{{o.ocr_align_text}}
</p>
<p>
{{o.asr_align_text}}
</p>
<p>
{{o.align_mismatch}}
</p>

<hr>

{{o}}
<img src="/{{ocr.web_image_filename}}">

    
<script src="{% static 'texts/play.js' %}"></script>
{% endblock content %}

