{% extends "texts/base.html" %}

{% block content %}


<form method='post'>
    {% csrf_token %}
    <table class="table table-borderless table-sm">
        <tr class="d-flex">
            <td class="col-4">
                Select province
            </td>
            <td class="col-4">
                <select name="provinces" id="provinces">
                    {% for province, count in provinces.items %}
                        <option value="{{province}}">
                            {{province}} <small>({{count}})</small>
                        </option>
                    {% endfor %}
                </select>
            </td>
        </tr>

        <tr class="d-flex">
            <td class="col-4">
                Exclude recordings
            </td>
            <td class="col-4">
                <select name="exclude_recordings" id="exclude_recordings">
                    <option value="none">
                        None
                    </option>
                    <option value="annotated by anyone">
                        Annotated by anyone
                    </option>
                    <option value="annotated by me">
                        Annotated by me
                    </option>
                </select>
            </td>
        </tr>

        <tr class="d-flex">
            <td class="col-4">
                Exclude transcriptions
            </td>
            <td class="col-4">
                <select name="exclude_transcriptions" id="exclude_transcriptions">
                    <option value="none">
                        None
                    </option>
                    <option value="annotated by anyone">
                        Annotated by anyone
                    </option>
                    <option value="annotated by me">
                        Annotated by me
                    </option>
                </select>
            </td>
        </tr>

        <tr class="d-flex">
            <td class="col-4">
                Set minimum match between ocr and asr alignment
            </td>
            <td class="col-4">
                <input 
                    type="number" 
                    id="minimum_match" 
                    name="minimum_match" 
                    value="35"
                    min="0" 
                    max="100">
            </td>
        </tr>

        <tr class="d-flex">
            <td class="col-4">
                Set percentage of materials to annotate per recording
            </td>
            <td class="col-4">
                <input 
                    type="number" 
                    id="perc_lines" 
                    name="perc_lines" 
                    value="20"
                    min="0" 
                    max="100">
            </td>
        </tr>

        <tr class="d-flex">
            <td class="col-4">
                Set minimum number of transcriptions to annotate per recording
            </td>
            <td class="col-4">
                <input 
                    type="number" 
                    id="min_lines" 
                    name="min_lines" 
                    value="10"
                    min="1" 
                    max="100">
            </td>
        </tr>

        <tr class="d-flex">
            <td class="col-4">
                Set maximum number of transcriptions to annotate per recording
            </td>
            <td class="col-4">
                <input 
                    type="number" 
                    id="max_lines" 
                    name="max_lines" 
                    value="30"
                    min="1" 
                    max="100">
            </td>
        </tr>


        <tr class="d-flex">
            <td class="col-4">
            </td>
            <td class="col-4">
                <button type='submit' value="submit">Start</button>
            </td>
        </tr>
    </table
</form


{% endblock %}
